p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.borda-solid {
    background: rgb (241, 209, 160);
    border: 1px solid green;
}

.borda-dotted {
    background: rgb (241, 209, 160);
    border: 5px dotted purple;
}

.borda-dashed {
    background: rgb (241, 209, 160);
    border: 5px dashed red;
}

.borda-double {
    background: rgb (241, 209, 160);
    border: 5px double cyan;
}

.borda-groove {
    background: rgb (241, 209, 160);
    border: 20px groove orange;
}

.borda-ridge {
    background: rgb (241, 209, 160);
    border: 20px ridge pink;
}