<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sofia&family=Roboto&display=swap" rel="stylesheet">
 
    <title>Document</title>

    <body>
        <header>
            <h1>Imagens responsivas</h1>
            <hr>
        </header>

        <main>
            <section>
                <figure id="Imagens">
                    <img src="img/bones001.png"alt="">
                    <img src="img/bones003.png"alt="">
                    <img src="img/bones004.png"alt="">
                </figure>
            </section>
        </main>

        <footer>
            <p>&copy; 2023 Meu Site. Todos os direitos reservados</p>
        </footer>
    </body>