* {
  margin: 0;
  padding: 0;
  font-family: "roboto";
  font-weight: bold;
}

main {
  /*Imagem para o fundo da seção*/
  background-image: url(../opacidade/img/pattern.avif);
  /*Repetindo o padrão de fundo*/
  background-repeat: repeat;
}

h2 {
  padding-left: 5%;
  padding-top: 5%;
}

header {
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 4%;
}

section {
  width: 80%;
  height: 400px;
}

article {
  width: 65%;
  float: left;
  border: 1px solid grey;
  padding: 2%;
  margin-left: 5%;
  /*rgba: a = canal alpha (transparência)*/
  background: #D9B589;
}

footer {
  clear: both;
  background-color: #333;
  color: #fff;
  padding: 2%;
  text-align: center;
}
